<div id="creative-commons" class="row section">
  <h2>Creative Commons</h2>
  <p class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut erat risus, ullamcorper ut ante non, ornare pharetra nulla. Vivamus sodales vehicula faucibus. Aenean a tincidunt massa, eget commodo nulla. Morbi sit amet commodo ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </p>

  <div class="videos">
    <div class="row">
      <iframe class="youtube-player" type="text/html" src="http://www.youtube.com/embed/SPhcOskjsDs?showinfo=0&autohide=1&modestbranding=1" allowfullscreen frameborder="0">
      </iframe>
    </div>
  </div>

</div>
