<div id="email" class="row section">
  <h2>Enter Your Email to Download a Ride Today!</h2>
  <form class="form-inline" role="form">
    <fieldset class="form-group">

      <input
      name="email"
      type="email"
      class="form-control"
      placeholder="{{userType.placehold}}"
      ng-model="rider.email" required />

      <p>Are you a Cyclist or Instructor?</p>

      <input
      id="cyclist"
      type="radio"
      name="check"
      required value="cyclist"
      ng-model="rider.type">

      <label id="cyclist" for="cyclist">Cyclist</label>
      <br>

      <input
      id="instructor"
      type="radio"
      name="check"
      required value="instructor"
      ng-model="rider.type">

      <label id="instructor" for="instructor">Instructor</label>
      <br>

      <input
      class="btn btn-default"
      type="submit"
      name="subscribe"
      value="Join Email List!"
      ng-click="addPerson(rider.email,rider.type)">

    </fieldset>
  </form>
</div>
