<div id="mc_embed_signup">
  <form action="http://redundantrobot.us3.list-manage.com/subscribe/post?u=e20580fb20661f4169de26d7e&amp;id=c3cebb918c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  novalidate class="form-inline" role="form" ng-submit="emailvalid(rider.email)">
    <div class="form-group">
      <label for="mce-EMAIL" name="{{userType.type}}-email">{{userType.type}} Email:</label>
      <input type="email" name="b_e20580fb20661f4169de26d7e_c3cebb918c" class="form-control" id="mce-EMAIL" placeholder="{{userType.placehold}}" ng-model="rider.email" required />
    </div>
    <button type="submit" class="btn btn-default" name="subscribe" id="mc-embedded-subscribe">Submit</button>
  </form>
</div>
