<div id="instructors" class="row section">
  <h2>Instructors Info!</h2>
  <p class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut erat risus, ullamcorper ut ante non, ornare pharetra nulla. Vivamus sodales vehicula faucibus. Aenean a tincidunt massa, eget commodo nulla. Morbi sit amet commodo ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ac risus ut ligula viverra ultrices. Aliquam consequat, tortor congue sodales auctor, arcu urna varius justo, et vestibulum metus velit non erat. Maecenas pharetra vehicula sapien, nec fringilla elit fermentum nec. Donec non blandit turpis. Pellentesque volutpat ante sapien, accumsan tempor velit semper sed.
  </p>
  <br>
  <email-form info="instructor"></email-form>
</div>
