<div id="top" class="row header">

  <div class="logo">
    <img src="public/img/royo_logo_mid.png">

    <ul id="logo-copy">
      <li>Indoor Cycling</li>
      <li>Music Videos</li>
    </ul>
  </div>

  <nav>
    <ul>
      <li id="nav"><a href="#">Home</a></li>
      <li id="nav"><a href="#cyclers">Cyclists</a></li>
      <li id="nav"><a href="#instructors">Instructors</a></li>
      <li id="nav"><a href="#">Rides</a></li>
      <li id="nav"><a href="#">FAQ</a></li>
    </ul>
  </nav>

</div>
