<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" ng-repeat="slide in slides" data-slide-to="0" ng-class="{active: slide == slides[0]}"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item" ng-repeat="slide in slides" ng-class="{active: slide == slides[0]}">
      <iframe class="youtube-player" type="text/html" ng-src="{{slide.src}}" allowfullscreen frameborder="0">
      </iframe>
      <div class="carousel-caption">
        {{slide.title}}
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
