.container{
  font-family: 'PT Sans Caption', sans-serif;
  width: 100%;
}
.welcome{
  padding: 100px 0;
  background: #ff7a1b; /*orange color*/
  color: blue;
  text-align: center;
}

.welcome {
  ul{
    padding: 0;
  }

  a{
    padding-top: 40px;
  }

  a.btn-primary+a.btn-primary{
    margin-left: 10%;
  }

  .btn{
    height: 100px;
    width: 250px;
    border: 1px white solid;
    border-radius: 10px;
  }
}

.cycle{
  padding-bottom: 400px;
  background: #166039; /*green color*/
  height: 50px;
  color: red;
}

.instruct{
  padding-bottom: 400px;
  background: #FFD145;
  height: 50px;
  color: green;
}

// @Media Queries

//Tablet Size
@media(max-width: 799px){
  .welcome{
    padding: 40px 150px;
    a.btn-primary+a.btn-primary{
      margin-left: 0;
    }

    #cycle-here.btn{
      margin: 0 0 40px 0;
    }
  }
}

//Mobile Size
@media(max-width: 480px){
  .welcome{
    padding: 40px;
  }
}
