.container{
  font-family: 'PT Sans Caption', sans-serif;
  width: 100%;
}

.welcome {
  padding: 80px 0;
  background: #ff7a1b; /*orange color*/
  color: blue;
  text-align: center;

  ul{ padding: 0; }
  a{ padding-top: 40px; }
  a.btn-primary+a.btn-primary{ margin-left: 10%; }

  .btn{
    height: 100px;
    width: 250px;
    border: 1px white solid;
    border-radius: 10px;
  }
}

h2{ margin: 10px 0; }
.section{ padding: 10px 20px 20px 20px; }

#email.row{
  text-align: center;
  background: #166039; /*yellow color*/
  color: white;

  .form-group{

    p{ margin: 10px 0 0 0; }

    label{
      padding: 5px 10px;
      &#email{ text-align: center; }
      &#cyclist, &#instructor{
        border: 1px solid black;
        position: relative;
      }
    }

    .form-control{ margin: 0 auto; }
    button{
      border-radius: 0;
      margin-top: 10px;
      width: 150px;
    }

    input{

      &[type=radio] {
        display: none;

        & + label{
          width: 292px;
          background: orange;
        }

        & + label:hover{ background: #999; }

        &:checked{
          & + label{
            &:before{
              font-family: FontAwesome;
              content: "\f00c";
              position: absolute;
              padding-top: 2px;
              padding-left: 1px;
              left: 60px;
              bottom: 4px;
              width: 23px;
              height: 23px;
              border-radius: 50%;
              background: #166039;
              margin-right: 10px;
            }
            &:after{ content: "" }
          }
        }

      }

      &[type=email]{
        width: 290px;
        &.ng-pristine { border: none; }
        &.ng-dirty { border: 1px solid red; }
        &.ng-valid { border: 1px solid blue; }
      }
    }
  }
}

#cyclers.row{
  background: #166039; /*green color*/
  color: white;
}

#instructors.row{
  background: #FFD145; /*yellow color*/
  color: green;
}

#creative-commons.row{
  background: #ff7a1b; /*orange color*/

  .videos{
    text-align: center;
  }
}

#faq.row{
  background: #166039; /*green color*/
  color: #ff7a1b;
}

// @Media Queries

//Tablet Size
@media(max-width: 799px){
  .welcome{
    padding: 40px 150px;
    a.btn-primary+a.btn-primary{
      margin-left: 0;
    }

    #cycle-here.btn{ margin: 0 0 40px 0; }
  }

  .form-group{
    button{ margin: 0; }

    input{
      &[type=radio] {
        display: none;
        & + label{ margin: 0; }
      }
    }
  }
}

//Mobile Size
@media(max-width: 480px){
  .welcome{ padding: 40px; }
}
