.header{
  padding: 20px 5px;
  height: auto;

  li,  ul{
    list-style: none;
    padding: 0;
  }

  nav{
    float: right;
    margin-top: 20px;
    font-size: 20px;

    ul{
      margin: 0;
      li{
        display: inline;
        padding-right: 5px;
        a{
          color: #166039;
        }
      }

      & > :last-child {
        margin-right: 0;
      }
    }
  }
}

.logo{

  display: inline-block;
  img{
    width: 250px;
  }

  ul{
    vertical-align: middle;
    font-size: 20px;
    margin: 0;
    display: inline-block;
  }

  li{
    line-height: 20px;
  }
}

// @Media Queries

// Tablet Size
@media(max-width: 799px){
  .header{
    padding: 10px 0;
    text-align: center;
    nav{
      margin: 20px auto 0 auto;
      float: left;
      width: 100%;
    }
  }
}

//Mobile Size
@media(max-width: 480px){
  .header{
    padding: 10px 0 0 0;
    nav{
      margin: 0;
      ul{
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        li{
          padding: 3px 0;
          width: 100%;
          display: block;
          text-align: center;
          a{
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
          }
          &:hover{
            background: #ccc;
          }
          &+li{
            border-top: 1px solid #dadada;
          }
        }
      }
    }
  }

  .logo{
    padding: 0 0 20px 0;
    ul#logo-copy{
      display: none;
    }
  }
}
