.container {
  font-family: 'PT Sans Caption', sans-serif;
  width: 100%; }

.welcome {
  padding: 80px 0;
  background: #ff7a1b;
  /*orange color*/
  color: blue;
  text-align: center; }
  .welcome ul {
    padding: 0; }
  .welcome a {
    padding-top: 40px; }
  .welcome a.btn-primary + a.btn-primary {
    margin-left: 10%; }
  .welcome .btn {
    height: 100px;
    width: 250px;
    border: 1px white solid;
    border-radius: 10px; }

h2 {
  margin: 10px 0; }

.section {
  padding: 10px 20px 20px 20px; }

#email.row {
  text-align: center;
  background: #166039;
  /*yellow color*/
  color: white; }
  #email.row .form-group p {
    margin: 10px 0 0 0; }
  #email.row .form-group label {
    padding: 5px 10px; }
    #email.row .form-group label#email {
      text-align: center; }
    #email.row .form-group label#cyclist, #email.row .form-group label#instructor {
      border: 1px solid black;
      position: relative; }
  #email.row .form-group .form-control {
    margin: 0 auto; }
  #email.row .form-group button {
    border-radius: 0;
    margin-top: 10px;
    width: 150px; }
  #email.row .form-group input[type=radio] {
    display: none; }
    #email.row .form-group input[type=radio] + label {
      width: 292px;
      background: orange; }
    #email.row .form-group input[type=radio] + label:hover {
      background: #999; }
    #email.row .form-group input[type=radio]:checked + label:before {
      font-family: FontAwesome;
      content: "\f00c";
      position: absolute;
      padding-top: 2px;
      padding-left: 1px;
      left: 60px;
      bottom: 4px;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background: #166039;
      margin-right: 10px; }
    #email.row .form-group input[type=radio]:checked + label:after {
      content: ""; }
  #email.row .form-group input[type=email] {
    width: 290px; }
    #email.row .form-group input[type=email].ng-pristine {
      border: none; }
    #email.row .form-group input[type=email].ng-dirty {
      border: 1px solid red; }
    #email.row .form-group input[type=email].ng-valid {
      border: 1px solid blue; }

#cyclers.row {
  background: #166039;
  /*green color*/
  color: white; }

#instructors.row {
  background: #FFD145;
  /*yellow color*/
  color: green; }

#creative-commons.row {
  background: #ff7a1b;
  /*orange color*/ }
  #creative-commons.row .videos {
    text-align: center; }

#faq.row {
  background: #166039;
  /*green color*/
  color: #ff7a1b; }

@media (max-width: 799px) {
  .welcome {
    padding: 40px 150px; }
    .welcome a.btn-primary + a.btn-primary {
      margin-left: 0; }
    .welcome #cycle-here.btn {
      margin: 0 0 40px 0; }

  .form-group button {
    margin: 0; }
  .form-group input[type=radio] {
    display: none; }
    .form-group input[type=radio] + label {
      margin: 0; } }
@media (max-width: 480px) {
  .welcome {
    padding: 40px; } }
