.container {
  font-family: 'PT Sans Caption', sans-serif;
  width: 100%; }

.welcome {
  padding: 100px 0;
  background: #ff7a1b;
  /*orange color*/
  color: blue;
  text-align: center; }
  @media (max-width: 500px) {
    .welcome {
      padding: 40px 0; } }

.welcome ul {
  padding: 0; }
.welcome button + button {
  margin-left: 10%; }
  @media (max-width: 500px) {
    .welcome button + button {
      margin-left: 0; } }
@media (max-width: 500px) {
  .welcome #cycle-here.btn {
    margin: 0 0 40px 0; } }
.welcome .btn {
  height: 100px;
  width: 250px;
  border: 1px white solid;
  border-radius: 10px; }

.cycle {
  padding-bottom: 400px;
  background: #166039;
  /*green color*/
  height: 50px;
  color: red; }

.instruct {
  padding-bottom: 400px;
  background: #ff7a1b;
  height: 50px;
  color: green; }
