.header {
  padding: 5px;
  height: auto; }
  .header div {
    display: inline-block; }
  .header li, .header ul {
    list-style: none;
    padding: 0; }
  .header .nav {
    float: right;
    margin-top: 20px;
    font-size: 20px; }
    .header .nav ul li {
      display: inline;
      padding-right: 10px; }
    .header .nav ul > :last-child {
      margin-right: 0 !important; }

.logo img {
  width: 250px; }
.logo ul {
  vertical-align: middle;
  font-size: 20px;
  margin: 0;
  display: inline-block; }
.logo li {
  line-height: 20px; }
